<!DOCTYPE html>
<html lang="en">
<head>
<title>Mongo_update</title>
</head>
<body>
<form action="#" method="post" >
<p>Add Update to Show:</p>
<table>
<tbody>
<tr>
<td>Name:</td>
<td><input type="text" name="show_name" /></td>
</tr>
<tr>
<td>Which of the following would you like to update? seasons, duration, year:</td>
<td><input type="text" name="seasons" /></td>
</tr>
<tr>
<td>Duration:</td>
<td><input type="text" name="duration" /></td>
</tr>
<tr>
<td>Year:</td>
<td><input type="text" name="year" /></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>